name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build-x86:
    name: x86 Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Prepare 3rdparty
        run: git submodule update --init

      - name: Build x86
        run: sh ./build.sh

      - name: Upload x86 artifact
        uses: actions/upload-artifact@v4
        with:
          name: build-x86
          path: build/install/

  build-aarch64:
    name: aarch64 Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Prepare 3rdparty
        run: git submodule update --init

      - name: Build aarch64
        run: sh ./build_aarch64.sh

      - name: Upload aarch64 artifact
        uses: actions/upload-artifact@v4
        with:
          name: build-aarch64
          path: build_aarch64/install/
    
  build-windows-mingw64:
    name: Windows MinGW64 Build
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v3

      - name: Prepare 3rdparty
        run: git submodule update --init

      - name: Setup MSYS2 (MINGW64)
        uses: msys2/setup-msys2@v2
        with:
          msystem: MINGW64
          update: true
          install: >-
            git
            mingw-w64-x86_64-toolchain
            mingw-w64-x86_64-cmake
            mingw-w64-x86_64-make
            unzip
            curl

      - name: Build Windows (mingw64)
        shell: msys2 {0}
        run: bash ./build_mingw64.sh

      - name: Upload Windows artifact
        uses: actions/upload-artifact@v4
        with:
          name: build-windows-mingw64
          path: build_mingw64/install/
